.list{
    color: #fff;
    width: 300px;
    background-color: rgb(7, 74, 78);
    height: 50px;
    border-radius: 15px;
}

.list p {
    padding: 10px;
}

#butt{
    position: absolute; 
    left: 250px;
    border-radius: 50px;
}